/* 
Project Name: GSS-B Portfolio
Author: George Sydney Selwyn-Brace
*/

@font-face{
	font-family: 'sabon-regular';
	src: url('../fonts/sabon-regular.eot');
	src: url('../fonts/sabon-regular.woff2') format('woff2'), url('sabon-regular.woff') format('woff'), url('../fonts/sabon-regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'sabon-regular';
	src: url('../fonts/sabon-italic.eot');
	src: url('../fonts/sabon-italic.woff2') format('woff2'), url('sabon-italic.woff') format('woff'), url('../fonts/sabon-italic.ttf')  format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face{
	font-family: 'suisse-int';
	src: url('../fonts/int-regular.woff2') format('woff2'), url('int-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*{
	box-sizing: border-box;
}
html{
	font-family: 'suisse-int', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #fefefe;
	transition: 0.2s;
}
main{
	margin: 15px 20px;
}
img{
	width:100%;
	display: block;
}
svg{
	width: 100%;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: #0000ff;
	transition: 0.3s;
}
p{
	font-family: 'sabon-regular', Helvetica, sans-serif;
	font-size: 19px;
	line-height: 115%;
	letter-spacing: 0.005em;
	margin: 0;
}
p a,b{
	font-family: 'suisse-int', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.04em;
}
#info{
	z-index: 30;
	position: absolute;
}
#links{
	z-index: 20;
}
#images{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}
.random{
	position: absolute;
	cursor: grab;
}
.s{
	width: 200px;
}
.m{
	width: 300px;
}
.l{
	width: 400px;
}
#benchmark-logo{
	width: 200px;
	fill: #333333;
}

#links{
	position: fixed;
	height: 50px;
	bottom: -50px;
	left: calc(100% - 50px);
	width: 100vh;
	transform: rotate(-90deg);
	transform-origin: top left;
}
#links p{
	position: absolute;
	bottom: 15px;
	margin-left: 20px;
}



@media screen and (min-width: 0px) and (max-width: 720px){
	.s{
		width: 120px;
	}
	.m{
		width: 160px;
	}
	.l{
		width: 200px;
	}
}

@media screen and (min-width: 721px) and (max-width: 1440px){
	.s{
		width: 160px;
	}
	.m{
		width: 240px;
	}
	.l{
		width: 320px;
	}

}

/* Clearfix */

.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}




