/* 
Project Name: George Sydney Selwyn-Brace Portfolio
Author: George Sydney Selwyn-Brace
*/



/* SMALLER SCREEN/DEFAULT */

@font-face{
	font-family: 'suisse-works';
	src: url('../fonts/works.woff2') format('woff2'), url('works.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'suisse-works';
	src: url('../fonts/works-italic.woff2') format('woff2'), url('works-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face{
	font-family: 'suisse-int';
	src: url('../fonts/medium.woff2') format('woff2'), url('medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'suisse-int';
	src: url('../fonts/medium-italic.woff2') format('woff2'), url('medium-italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}
*{
	box-sizing: border-box;
}
html{
	font-family: 'suisse-works', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	fill: #333333;
	background-color: #fff;
}

img, svg{
	width:100%;
}

a{
	text-decoration: none;
	color: inherit;
	transition: 0.3s ease;
}

p{
	font-family: 'suisse-works', times, serif;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 145%;

}


h1{
	font-family: 'suisse-int', helvetica, sans-serif;
	font-size: 2rem;
	font-weight: 300;
}
h2{
	font-family: 'suisse-int', helvetica, sans-serif;
	font-size: 1rem;
	line-height: 145%;
	margin:0;
	font-weight: 500;
	letter-spacing: 0.025em;

}

.site-wrap{
	/*max-width: 1400px;*/
	margin: 2rem 4rem 2rem 2rem;
}
.name{
	bottom: 4rem;
	right: 1.5rem;
	width: 1rem;
	position: fixed;
}

.list-symbol{
	width: 1.6rem;
	display: inline-block;
	float: left;
}
.list-item{
	width: calc(100% - 1.6rem);
	float: left;
}

footer{
	margin-top: 2rem;
}


/*LARGE SCREEN*/

@media screen and (min-width: 720px){
	html{
		font-size: 18px;
	}
	.name{
		bottom: 2rem;
	}
	footer{
		position: fixed;
		bottom: 2rem;
		left: 33.333vw;
		width: 66.66vw;
	}

	a:hover{
	color: #999;
	}
}

/* EXTRA LARGE SCREEN*/

@media screen and (min-width: 1600px){

	html{

		font-size: 20px;
	}

}

/* Clearfix */

.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}




